@charset "UTF-8";

#container {
    background-image: url(imagens/wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#conteudo {
    background-color: yellow;
    background-size: 100% 100%;
    position: absolute;
    height: 200px;
    width: 400px;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
